@import "../sass/breakpoints";
@import "../sass/variables";

.site-footer {

    &__content {
        padding: 26px 0;
        border-top: 1px solid $secondary;
        padding-top: 28px;

        .footer-logo {
            max-width: 146px;
        }


        .bottom-wrap {
            padding-top: 28px;

            .left {
                .copyright-text {
                    font-size: 16px;
                    line-height: 30px;
                    color: $secondary;
                }
            }

            .right {
                display: flex;
                align-items: center;
                margin-top: 30px;

                @include md {
                    justify-content: end;
                    margin-top: 0;

                }

                .footer-nav {
                    ul {
                        display: flex;
                        align-items: center;

                        li {
                            margin-right: 20px;

                            @include lg {
                                margin-right: 40px;
                            }

                            &:last-child {
                                margin-right: 0;
                            }

                            a {
                                font-size: 16px;
                                line-height: 30px;
                                color: $primary;
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }

                .social-links {
                    padding-left: 20px;

                    @include lg {
                        padding-left: 40px;
                    }

                    ul {
                        display: flex;
                        align-items: center;
                        line-height: 0;

                        li {
                            margin-right: 20px;

                            @include lg {
                                margin-right: 20px;
                            }

                            &:last-child {
                                margin-right: 0;
                            }

                            a {
                                display: inline-block;
                                transition: all 0.3s;
                                line-height: 0;

                                svg {
                                    fill: $primary;
                                    line-height: 0;
                                    width: 23px;
                                    height: 23px;

                                    path {
                                        fill: $primary;

                                    }
                                }

                                &:hover {
                                    svg {
                                        fill: $secondary;

                                        path {
                                            fill: $secondary;

                                        }
                                    }
                                }


                            }
                        }
                    }
                }
            }
        }
    }
}